################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NEW GAME PROJECT/FileContentIndex/a9451374-40c2-43c4-8c91-8942828ee1f2.vsidx
