################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NEW GAME PROJECT/FileContentIndex/a9451374-40c2-43c4-8c91-8942828ee1f2.vsidx
/.vs/NEW GAME PROJECT/FileContentIndex
/.godot/editor/editor_layout.cfg
/.godot/editor/lvl0.tscn-folding-c14c03a0d15e48cd33d2896de91a9bed.cfg
/.godot/editor/lvl0.glb-29366ea6191df9c635de0e57afe35636.scn-folding-5fb72e683a083a91cbd7fe66ac688d34.cfg
